<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myVote</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Prompt&display=swap">
</head>
<body>
<header class="header">
    <h1>
        <a th:href="@{/votings}">my<span class="distinct">V</span>ote</a>
    </h1>
    <div class="header__right">
        <a th:href="@{/votings/create}"><button class="green_button">Create vote</button></a>
        <p class="username">
            User
        </p>
    </div>
</header>
<div class="container">
    <section class="votings_container">
        <h1 class="votings_title">Your opinion matters, Democracy is everything<span class="distinct">!</span></h1>
        <div th:if="${votings != null && votings.size() > 0}">
            <div th:each="voting : ${votings}">
                <div class="voting_card">
                    <div class="voting_card_header">
                        <div class="voting_card_header_part">
                            <h4 class="voting_card_number">No. <span th:text="${voting.id}">1</span></h4>
                            <div th:if="${voting.active == false}">
                                <h4 class="voting_card_closed">Closed</h4>
                            </div>
                        </div>
                        <div class="voting_card_header_part">
                            <h4 class="voting_card_votes">Votes: <span th:text="${voting.votes.size()}">0</span></h4>
                            <a th:href="@{/votings/{id}(id=${voting.id})}"><button class="green_button">Open</button></a>
                        </div>
                    </div>
                    <div class="voting_card_body">
                        <h2 class="voting_card_title" th:text="${voting.title}">Title</h2>
                        <h4 class="voting_card_creator">Created by <span th:text="${voting.creatorUserId}">Author</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <p th:unless="${votings != null && votings.size() > 0}">No votings found.</p>
    </section>
</div>
</body>
</html>
