<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>myVote</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/newpoll.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Prompt&display=swap">
</head>
<body>
<header class="header">
    <h1>
        <a th:href="@{/votings}">my<span class="distinct">V</span>ote</a>
    </h1>
    <div class="header__right">
        <a th:href="@{/votings/create}"><button class="green_button">Create vote</button></a>
        <p class="username">
            User
        </p>
    </div>
</header>
<div class="container">
    <section class="votings_container">
        <div class="voting_card">
            <h1>Create a new poll</h1>
            <form id="surveyForm" th:action="@{/votings/create}" method="post">
                <label for="title">Question/label:</label>
                <input type="text" id="title" name="title" required />
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="3"></textarea>
                <div id="options">
                    <div class="option">
                        <label>Poll answer:</label>
                        <div class="option-input">
                            <input type="text" name="candidates[0].name" required />
                            <button type="button" class="remove-option" onclick="removeOption(this)">✖</button>
                        </div>
                    </div>
                    <div class="option">
                        <label>Poll answer:</label>
                        <div class="option-input">
                            <input type="text" name="candidates[1].name" required />
                            <button type="button" class="remove-option" onclick="removeOption(this)">✖</button>
                        </div>
                    </div>
                </div>
                <button type="button" class="green_button" onclick="addOption()">Add answer</button>
                <button type="submit" class="green_button">Create poll</button>
            </form>
        </div>
    </section>
</div>
</body>
<script>
    function addOption() {
        const optionsContainer = document.getElementById("options");
        const optionCount = optionsContainer.querySelectorAll(".option").length;

        const optionDiv = document.createElement("div");
        optionDiv.classList.add("option");
        optionDiv.innerHTML =
            '<label>Poll answer:</label>' +
            '<div class="option-input">' +
            `<input type="text" name="candidates[${optionCount}].name" required>` +
            '<button type="button" class="remove-option" onclick="removeOption(this)">✖</button>' +
            "</div>";
        optionsContainer.appendChild(optionDiv);
    }

    function removeOption(btn) {
        const optionsContainer = document.getElementById("options");
        const optionCount = optionsContainer.querySelectorAll(".option").length;

        if (optionCount > 2) {
            btn.parentNode.parentNode.remove();
        }
    }
</script>
</html>
